/* Global Style */
*{
    margin-right:0px;
    padding-left:0px;
    margin-left: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding:18px 35px;
}
/* nav related style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px ;

}
.nav-title {
    color: 181818;
    font-size: 45px;
    font-weight: 800px;
}
nav >ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
/* Header Related Style */

.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 40px 38px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hero-img{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content{
    max-width: 500px;
}
.banner-description{
    margin-bottom: 20px;
}
.btn-contact{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    padding:19px 18px;
    margin-left: 20px;
}
.fa-solid {
    padding-right: 10px;
}